each c in timeCharts
  if c.isAllDay
    div(style=';position:absolute; top: 35px; height: 20px; width: #{c.width};', class=c.classes)
  else
    div(style='margin-left: #{c.marginLeftWidth};position:absolute; top: 25px; width: #{c.width}; z-index: 1;', class=c.classes)
